.list-format {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav {
  width: 30%;
  margin: auto;
}

nav ul {

  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0.5em;
}

nav ul li a {
  color: #344563;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: bold;
}
