#down-button {
  margin: 3.5em auto;
  border: solid 0.1px;
  padding: 0.2em;
  border-radius: 10px;
  border-color: gray;
}

ul {
  color: #344563;
}

ul li {
  margin: 0.5em;
}

#main ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

#middle {
  width: 90%;
}

#middle article {
  border: lightgray 0.2px solid;
  border-radius: 10px;
}

.list-flex li {
  background-color: #ebf0ee;
  border-radius: 10px;
  flex: 1 1 auto;
  font-size: 12px;
  padding: 11px 5px;
}

#about-me {
  background-image: url("../imgs/aboutme-background.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

#about-me > ul {
  display: flex;
}

#about-me > ul > li > ul {
  border: 1px solid lightgray;
  background-color: #ebf0ee;
  height: 350px;
}

#about-me > ul > li > ul > li > ul {
  display: grid;
  grid-template: auto auto / repeat(9, auto);
  align-items: center;
}

#about-me > ul > li > ul > li > ul > li {
  background-color: white;
  padding: 8px;
  border-radius: 7px;
}

.li-mid {
  grid-column: span 6;
}

.li-long {
  grid-column: span 7;
}

.li-center {
  grid-column: 2 / 8;
}

.skills-item1 {
  grid-column: 1 / 7;
}

.skills-item2 {
  grid-column: 7 / 9;
}

.skills-item3 {
  grid-column: 1 / 2;
}

.skills-item4 {
  grid-column: 2 / 7;
}

.skills-item5 {
  grid-column: 7 / 9;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

.greenish {
  color: #36b37e;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}

.hamburguer {
  display: none;
  float: right;
}

.background {
  margin: 0;
  height: 600px;
  background-image: url("../imgs/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-format {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.list-flex {
  display: flex;
  align-items: center;
}

.font-style {
  color: #172b4d;
  line-height: 1.5em;
}

body {
  font-family: Inter, sans-serif;
}

label {
  display: none;
}

a {
  font-size: 0.8em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

section {
  text-align: center;
  margin: 80px auto;
}

h1,
h2,
h3,
p {
  color: rgba(23, 43, 77, 1);
}

p {
  width: 90%;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  margin: auto;
}

h1 {
  font-size: 2.1em;
  font-weight: bold;
  margin-top: 3em;
}

span {
  display: block;
}

button {
  background-color: #36b37f;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 15px auto;
  font-size: 17px;
  line-height: 24px;
}

button:active {
  background-color: #008552;
}

@media only screen and (max-width: 760px) {
  #about-me > ul {
    flex-direction: column;
  }

  .container {
    grid-template-columns: 1fr;
  }

  header nav {
    position: relative;
  }

  nav .list-format {
    background-color: #36b37e;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  nav .list-format > li {
    display: none;
  }

  .hamburguer {
    display: block;
    position: absolute;
    right: 0;
  }

  nav .list-format:hover,
  .hamburguer:hover ~ .list-format li {
    display: flex;
  }

  #about-me > ul > li > ul {
    height: 500px;
  }
}
