body {
  font-family: Inter, sans-serif;
}

.background {
  background-image: url("../background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.list-format {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.font-color {
  color: #172b4d;
}

nav {
  width: 30%;
  margin: auto;
}

ul {
  color: #344563;
}

nav ul li {
  margin: 0.5em;
}

nav ul li a {
  font-size: 0.8em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

div {
  text-align: center;
  margin: 6.5em auto;
}

h1 {
  font-size: 2.1em;
  font-weight: bold;
}

span {
  color: #36b37e;
  display: block;
}
